<div class="panel" *ngIf="(!addMode && selectedContact) else add">
    <div class="panel-body">
        <div class="col-2 pull-left">
            <img class="img-responsive" style="max-width: 150px; max-height: 150px;" [src]="selectedContact.imagePath" alt="Image for contact">
          </div>
          <div class="col-4 pull-right">
            <h2 class="text-right">{{ selectedContact.name }}</h2>
            <h4 class="text-right"><strong>Phone: </strong>{{ selectedContact.phone }}</h4>
            <h4 class="text-right"><strong>Email: </strong>{{ selectedContact.email }}</h4>
          </div>
    </div>
    <div class="col-6 pull-right">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
</div>

<ng-template #add>
        <div class="panel-header">
            <h2>Add a new contact</h2>
        </div>
        
        <div class="panel-body">
          <label for="name">Name </label>
          <input id="name" class="form-control" #txtName>
          <label for="phone">Phone</label>
          <input id="phone" class="form-control" #txtPhone>
          <label for="email">Email</label>
          <input id="email" class="form-control" #txtEmail>
          <label for="imgPath">Image URL</label>
          <input id="imgPath" class="form-control" #txtImgPath>
        </div>
        
        <div class="panel-footer">
          <button class="btn btn-success" (click)="onSave(txtName.value, txtPhone.value, txtEmail.value, txtImgPath.value)">Save</button>
          <button class="btn btn-danger">Clear</button>
        </div>
</ng-template>